<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css">
    <title layout:fragment="title">写真共有APP</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="navbar__brand">写真共有APP</a>
            <div class="navbar__menu">
                <div class="navbar__item">
                    <a class="button" href="/photo">
                        <i class="icon ion-md-add"></i>
                        Submit a photo
                    </a>
                </div>
                <span class="navbar__item">
                    username
                </span>
                <div class="navbar__item">
                    <a href="/login" class="button button--link">Login</a>
                </div>
                <div class="navbar__item">
                    <a href="/signup" class="button button--link">Signup</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div layout:fragment="content">
            Content
        </div>
    </main>
    <footer class="footer">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="button button--link">Logout</button>
        </form>
        <a href="/login" class="button button--link">Login</a>
        <a href="/signup" class="button button--link">Signup</a>
    </footer>
    <script layout:fragment="script"></script>
</body>
</html>