<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title layout:fragment="title">ホーム</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="photo-list">
            <div class="grid">
                <div th:each="item: ${photos}" th:object="${item}" class="grid__item">
                    <div class="photo">
                        <figure class="photo__wrapper">
                            <img class="photo__image photo__image--portrait" th:src="${item.url}" th:alt="'Photo by '+${item.photo.user.name}">
                        </figure>
                        <div th:href="'/photo/'+${item.photo.id}" class="photo__overlay" onclick="transition(this)">
                            <div class="photo__controls">
                                <button class="photo__action photo__action--like" 
                                        th:classappend="${item.likedByUser} ? 'photo__action--liked'" 
                                        th:data-photo-id="${item.photo.id}" 
                                        th:data-is-liked="${item.likedByUser}" 
                                        onclick="likeOrUnlike(this, arguments[0])"
                                >
                                    <i class="icon ion-md-heart"></i>
                                    <span class="likes-count" th:text="${item.likesCount}"></span>
                                </button>
                                <a th:href="'/photo/'+${item.photo.id}+'/download'" class="photo__action">
                                    <i class="icon ion-md-arrow-round-down"></i>
                                </a>
                            </div>
                            <div class="photo__username" th:text="${item.photo.user.name}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a th:if="${!page.first}" th:href="'/?page='+${page.number-1}" class="button">&laquo; prev</a>
                <a th:if="${!page.last}" th:href="'/?page='+${page.number+1}" class="button">next &raquo;</a>
            </div>
        </div>
    </div>
    <script layout:fragment="script">
        function transition(self) {
            location.href = self.getAttribute('href');
        }
    </script>
</body>
</html>
