<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title layout:fragment="title">詳細</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="photo-detail">
            <figure class="photo-detail__pane photo-detail__image" onclick="toggleClass()">
                <img th:src="${item.url}" alt="">
                <figcaption th:text="'Posted by '+${item.photo.user.name}"></figcaption>
            </figure>
            <div class="photo-detail__pane">
                <button class="button button--like" 
                        th:classappend="${item.likedByUser} ? 'button--liked'" 
                        th:data-photo-id="${item.photo.id}" 
                        th:data-is-liked="${item.likedByUser}"
                        onclick="likeOrUnlike(this, arguments[0], true)"
                >
                    <i class="icon ion-md-heart"></i>
                    <span class="likes-count" th:text="${item.likesCount}"></span>
                </button>
                <a th:href="'/photo/'+${item.photo.id}+'/download'" class="button">
                    <i class="icon ion-md-arrow-round-down"></i>Download
                </a>
                <h2 class="photo-detail__title">
                    <i class="icon ion-md-chatboxes"></i>Comments
                </h2>
                <ul th:if="!${#lists.isEmpty(item.photo.comments)}" class="photo-detail__comments">
                    <li th:each="comment: ${item.photo.comments}" th:object="${comment}" class="photo-detail__commentItem">
                        <p class="photo-detail__commentBody" th:text="${comment.content}"></p>
                        <p class="photo-detail__commentInfo" th:text="${comment.user.name}"></p>
                    </li>
                </ul>
                <p th:if="${#lists.isEmpty(item.photo.comments)}">No comments yet.</p>
                <form method="post" class="form" th:action="@{/photo/{id}/comment(id=${item.photo.id})}" th:object="${addCommentForm}">
                    <div th:if="${addCommentError}">
                        <div th:text="${addCommentError}" class="errors"></div>
                    </div>
                    <textarea class="form__item" th:field="*{content}" th:classappend="${#fields.hasErrors('content')} ? 'has-error'"></textarea>
                    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="invalid-feedback"></div>
                    <div class="form__button">
                        <button type="submit" class="button button--inverse">submit comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script layout:fragment="script">
        function toggleClass() {
            document.getElementsByClassName('photo-detail')[0].classList.toggle('photo-detail--column');
        }
    </script>
</body>
</html>
