<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title layout:fragment="title">詳細</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="photo-detail">
            <figure class="photo-detail__pane photo-detail__image" onclick="toggleClass()">
                <img th:src="${item.url}" alt="">
                <figcaption th:text="'Posted by '+${item.photo.user.name}"></figcaption>
            </figure>
            <div class="photo-detail__pane">
                <button class="button button--like">
                    <i class="icon ion-md-heart"></i><span class="likes-count">12</span>
                </button>
                <a th:href="'/photo/'+${item.photo.id}+'/download'" class="button">
                    <i class="icon ion-md-arrow-round-down"></i>Download
                </a>
                <h2 class="photo-detail__title">
                    <i class="icon ion-md-chatboxes"></i>Comments
                </h2>
            </div>
        </div>
    </div>
    <script layout:fragment="script">
        function toggleClass() {
            document.getElementsByClassName('photo-detail')[0].classList.toggle('photo-detail--column');
        }
    </script>
</body>
</html>
