<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title layout:fragment="title">写真投稿</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="photo-form">
            <h2 class="title">Submit a photo</h2>
            <form method="post" class="form" th:action="@{/photo}" th:object="${fileUploadForm}" enctype="multipart/form-data">
                <div th:if="${fileUploadError}">
                    <div th:text="${fileUploadError}" class="errors"></div>
                </div>
                <input type="file" class="form__item" id="multipart-file" th:field="*{multipartFile}" th:classappend="${#fields.hasErrors('multipartFile')} ? 'has-error'">
                <output class="form__output hide" id="output">
                    <img src="" alt="" id="preview">
                </output>
                <div th:if="${#fields.hasErrors('multipartFile')}" th:errors="*{multipartFile}" class="invalid-feedback"></div>
                <div class="form__button">
                    <button type="submit" class="button button--inverse">submit</button>
                </div>
            </form>
        </div>
    </div>
    <script layout:fragment="script">
        const input = document.getElementById('multipart-file');
        const output = document.getElementById('output');
        const preview = document.getElementById('preview');

        // フォームでファイルが選択されたら実行
        input.addEventListener('change', (event) => {
            // 何も選択されていなかったらリセットして中断
            if (event.target.files.length === 0) {
                fileReset();
                return false;
            }

            // 選択されたファイルが画像形式でなければリセットして中断
            if (!event.target.files[0].type.match('image.*')) {
                fileReset();
                return false;
            }

            // FileReaderクラスのインスタンスを取得
            const reader = new FileReader();

            // ファイルを読み込み終わったタイミングで実行する処理
            reader.onload = e => {
                // imgのsrc属性に読み込まれた結果（データURL）をセット
                preview.setAttribute('src', e.target.result);
                // imgの親要素を非表示から表示に切り替え
                if (output.classList.contains('hide')) {
                    output.classList.remove('hide');
                }
            }

            // ファイルを読み込む
            // 読み込まれたファイルはデータURL形式で受け取れる
            reader.readAsDataURL(event.target.files[0])
        });

        /**
         * img要素のsrc属性を空に
         * input要素の値をnullに
         * imgの親要素を非表示にそれぞれする
         **/
        function fileReset() {
            if (!output.classList.contains('hide')) {
                output.classList.add('hide');
            }
            preview.setAttribute('src', '');
            input.value = null;
        }
    </script>
</body>
</html>
